{% extends "base.html" %}

{% block title %}
    <title>Add a new project</title>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row expanded">
            <div class="col-12">
                <div class="card">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 style="color: #24292e">Nuovo progetto</h2>
                        </div>
                    </div>

                    <form method="POST" class="dropzone" action="/addproject" id="form_upload"
                          enctype="multipart/form-data">
                        <div class="previews">
                            <p><i class="text-grey">Tipi Supportati: PDF, TEXT, DOC , DOCX</i></p>
                            <p><i class="text-grey">Trascina o carica i tuoi file qui</i></p>
                        </div>
                        <button type="button" class=" btn btn-success btn-form" id="btn-form">
                            Scegli File
                        </button>


                        <div class="d-grip">
                            <div id="card-dropdown" style="display:none ">
                                <hr>
                                Nome progetto:
                                <input class="form-control" type="text" name="username"/>
                                Descrizione(max x caratteri):
                                <textarea  class="form-control" rows="3"></textarea>

                                <button class="btn btn-primary mt-3" id="submitBtn" type="submit">Submit data and
                                    files!
                                </button>

                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>

    </div>
{% endblock %}
