{% block chat %}



    <input type="checkbox" id="check">
    <label class="chat-btn float ombra" for="check"> <i class="bi bi-chat-left fa-lg comment"></i> <i
            class="fa fa-close close"></i>
    </label>
    <div class="wrapper ombra">
        <div class="header"><h6>Chat - Online</h6></div>
        <div class="chat-form">
            <div id="messages">

            </div>
            <input type="hidden" id="id_project" value="{{ project.id }}">
            <div class="row">
                <div class="col-10">
                    <input type="hidden" id="current_user_id" value="{{ current_user.id }}">
                    <input type="text" maxlength="255" id="message" class="form-control" placeholder="Scrivi qui...">
                </div>
                <div class="col-1" style="padding: 0">
                    <button id="sendBtn" type="button" class="btn btn-success btn-block"><i
                            class="fa fa-paper-plane"
                            aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
