{% block chat %}
    <input type="checkbox" id="check">
    <label class="chat-btn float ombra" for="check"> <i class="bi bi-chat-left fa-lg comment"></i> <i
            class="fa fa-close close"></i>
    </label>
    <div class="wrapper ombra">
        <div class="header"><h6>Chat - Online</h6></div>
        <div class="chat-form">
            <div id="messages">

            </div>
            <input type="hidden" id="id_project" value="{{ project.id }}">
            <input type="text" maxlength="255" id="message" class="form-control" placeholder="Scrivi qui...">
            <button id="sendBtn" type="button" class="btn btn-success btn-block">Submit</button>
        </div>
    </div>
{% endblock %}
