<div id="footer" class="fixed-bottom  py-3  border-top ">
    <div class="row justify-content-center">
        <div class="col-sm-0 col-md-1 col-auto"></div>
        <div class="col-sm-4 col-md-3 col-auto font-responsive ">
            <span class="mb-3 mb-lg-0 text-body-secondary">© {{ year }} Developed&nbsp;by:</span>
        </div>
        <div class="col-sm-8 col-md-7 col-lg-5 col-auto">
            <div class="row" id="myItems">
                <div class="col-sm-4 col-auto font-responsive text-github">
                    <a class="text-decoration-none text-github" href="https://github.com/Paniz2002">
                    <span class="bi bi-github text-decoration-none"> </span>
                    Nicola&nbsp;Panizzolo</a>
                </div>
                <div class="col-sm-4 col-auto font-responsive text-github">
                    <a class="text-decoration-none text-github" href="https://github.com/t00m-s/">
                    <span class="bi bi-github text-decoration-none"> </span>
                    Tommaso&nbsp;Soncin</a>
                </div>
                <div class="col-sm-4 col-auto font-responsive text-github">
                    <a class="text-decoration-none text-github" href="https://github.com/ciolo2002">
                    <span class="bi bi-github text-decoration-none"> </span>
                    Michael&nbsp;Sarto</a>
                </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-1 col-auto"></div>
    </div>
</div>

