<div id="footer" class="fixed-bottom  py-3  border-top ">
    <div class="row">
        <div class="col-lg-2 col-3"></div>
        <div class="col-lg-3 col-9">
            <span class="mb-3 mb-lg-0 text-body-secondary">© {{ year }} Developed&nbsp;by:</span>
        </div>
        <div class="col-lg-1 col-3"></div>
        <div class="col-lg-5 col-7">
            <div class="row" id="myItems">
                <div class="col-lg-4 col-12">
                    <a href="https://github.com/Paniz2002"
                       class="bi bi-github text-decoration-none text-github"> </a>
                    Nicola&nbsp;Panizzolo
                </div>
                <div class="col-lg-4 col-12">
                    <a href="https://github.com/t00m-s/"
                       class="bi bi-github text-decoration-none text-github"> </a>
                    Tommaso&nbsp;Soncin
                </div>
                <div class="col-lg-4 col-12">
                    <a href="https://github.com/ciolo2002"
                       class="bi bi-github text-decoration-none text-github"> </a>
                    Michael&nbsp;Sarto
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

