{% extends "base.html" %}


<div class="container-fluid">
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
    {% block content %}
        <div id="main-content">
            <div id="header">
                <div class="header-left float-left">
                    <i id="toggle-left-menu" class="ion-android-menu"></i>
                </div>
            </div>
            <div id="page-container">
                <div class="container-fluid">
                    {% block main_frame %}
                    {% endblock %}
                </div>
            </div>
        </div>


    {% endblock %}
</div>
