{% extends "base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-5 justify-content-center">
            <div class="card card-signin my-5 px-3 shadow">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-center">
                        <h1 class="color-text"> Login </h1>
                    </div>
                    <hr>
                    <div class="form">
                        <form id="user-login-form" action="/login" method="POST">
                            <div class="form-group">
                                <label for="user_email">Email</label>
                                <input type="email" class="form-control" name="email" id="user_email"
                                       placeholder="Inserisci la tua email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="user_password">Password</label>
                                <i class="bi bi-eye-slash" id="togglePassword"></i>
                                <input type="password" class="form-control" id="user_password" name="password"
                                       placeholder="Inserisci la tua password" required>
                            </div>


                            <script>
                                    const togglePassword = document.querySelector("#togglePassword");
                                    const password = document.querySelector("#user_password");

                                    togglePassword.addEventListener("click", function () {
                                        // toggle the type attribute
                                        const type = password.getAttribute("type") === "password" ? "text" : "password";
                                        password.setAttribute("type", type);

                                        // toggle the icon
                                        this.classList.toggle("bi-eye");
                                    });
                                </script>


                            <div class="d-flex justify-content-center mb-3">
                                  <input type="submit" class="btn btn-primary btn-form" value="Login">
                            </div>
                            <div class="d-flex justify-content-center">
                                <p>
                                    <small>Non sei ancora registrato? <a href="/register">Registrati</a></small>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
