<div id="logo">
    <img width="45%" src="{{ logo }}">
</div>
<!-- TODO RENDERE PIU' CARINO E GESTIRE MEGLIO IL RESPONSIVE -->
<div id="left-menu">
    <ul>
        <li><a href="#">
            <i class="fa-solid fa-person"></i>
            <span>{{ user.user_map.name }} {{ user.user_map.surname }}</span>
        </a></li>
        <li>
            <a href="#">
                <i class="fa-solid fa-person"></i>
                <span>TEST</span>
            </a>
        </li>
        <li><a href="#">
            <i class="fa-solid fa-person"></i>
            <span>TEST 2</span>
        </a></li>
    </ul>
</div>


