{% extends "base.html" %}

    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
    {% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Progetti approvati</h1>
            {% for row in query %}
            <div class="row border border-secondary rounded justify-content-center mt-4" style="background-color: #F6F4F4"> 
                <a class="justify-content-center" href="/viewproject/{{ row.id }}"> {{ row.name }}</a>
               <!--TODO fix center text --> 
            </div>
            {% endfor %}
            </div>

    </div>
    </div>
    {% endblock %}

