{% extends "base.html" %}

{% block title %}
    <title>Projects</title>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-10 offset-1"> 
            {% if values %}

                {% for key,value in values.items() %}
                    {% if value.projects |length >0 %}
                        <div class="row mb-4">
                        <div class="text-center mb-3">
                            <h1>{{ value.name }}</h1>
                        </div>


                        {% for row in value.projects %}

                            <div class="col-12 col-md-6 mb-4">
                                <div class="card shadow h-100" style="margin-right: 5px;">
                                    <div class="card-body">
                                        <div class="card-title text-center mb-3">
                                            <h6 style="color:#AD1637" > Titolo: </h6>
                                            <h6><strong> {{ row.name }} </strong></h6>
                                        </div>
                                        <div class="card-text">
                                            <div class="text-center mb-3">
                                                <h6 style="color:#AD1637" > Autore: </h6>
                                                <h6> {{ row.user.name + " "  + row.user.surname }}</h6>
                                            </div>

                                            <div class="text-center">
                                                <h6 style="color:#AD1637" > Descrizione: </h6>
                                            </div>
                                            <div style="height:200px" class="scrollable mb-4">
                                                 {{ row.get_description|safe }}
                                            </div>

                                        </div>
                                        <div class="text-center align-bottom">
                                            <a href="/viewproject/{{ row.id }}"
                                           class="btn btn-primary btn-form">Vedi Progetto</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                            <div class="col-12 col-md-6 mb-4">
                                <a href="/addproject?idType={{ key }}">
                                    <div class="card shadow h-100 d-flex justify-content-center align-items-center" style="margin-right: 5px;">

                                        <div class="">
                                         <i class="bi bi-plus-circle"></i>
                                        </div>

                                    </div>
                                </a>
                            </div>

                        </div>
                    {% endif %}

                {% endfor %}
            {% else %}
                <h1 style="color: #24292e">Nessun Progetto</h1>
                <div class="row border border-secondary rounded justify-content-center mt-4"
                     style="background-color: #F6F4F4">
                </div>
                <span style="font-size: large">Invia il tuo primo progetto
                <a class="justify-content-center" href="/addproject">
                    qui<i class="bi bi-check2-circle " style="margin-left: 2pt "></i>
                </a>
                </span>
            {% endif %}
        </div>
    </div>

{% endblock %}
