{% extends "base.html" %}

{% block title %}
    <title>Projects</title>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-10 offset-1"> 
            {% if values %}
                {% for key,value in values.items() %}
                    {% if value.projects |length >0 %}
                        <h1>{{ value.name }}</h1>
                        {% for row in value.projects %}
                            <div class="row border border-secondary rounded justify-content-center mt-4"
                                 style="background-color: #F6F4F4">
                                <a class="justify-content-center" href="/viewproject/{{ row.id }}">
                                    <span>{{ row.name }}</span>
                                    <i class="bi bi-check2-circle"></i>

                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            {% else %}
                <h1 style="color: #24292e">Nessun Progetto</h1>
                <div class="row border border-secondary rounded justify-content-center mt-4"
                     style="background-color: #F6F4F4">
                </div>
                <span style="font-size: large">Invia il tuo primo progetto
                <a class="justify-content-center" href="/addproject">
                    qui<i class="bi bi-check2-circle " style="margin-left: 2pt "></i>
                </a>
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}
