{% extends "base.html" %}

{% block title %}
<title>Registration</title>
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 justify-content-center">
                <div class="card card-signin my-5 px-3 shadow">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-center">
                            <h1 class="color-text"> Registrazione </h1>
                        </div>
                        <hr>
                        <div class="form">
                            <form id="user-login-form" action="/register" method="POST">
                                <div class="form-group">
                                    <label for="user_name">Nome</label>
                                    <input type="text" class="form-control" name="name" id="user_name"
                                           placeholder="Mario" required>
                                </div>
                                <div class="form-group">
                                    <label for="user_surname">Cognome</label>
                                    <input type="text" class="form-control" name="surname" id="user_surname"
                                           placeholder="Rossi" required>
                                </div>
                                <div class="form-group">
                                    <label for="user_email">Email</label>
                                    <input type="email" class="form-control" name="email" id="user_email"
                                           placeholder="mario.rossi@example.com" required>
                                </div>
                                <div class="form-group">
                                    <label for="user_password">Password</label>
                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                    <input type="password" value="" class="form-control" id="user_password"
                                           name="password"
                                           placeholder="Inserisci la tua password" required>

                                </div>
                                <div class="form-group">
                                    <label for="user_password_2">Conferma Password </label>

                                    <i class="bi bi-eye-slash" id="togglePassword_2"></i>
                                    <input type="password" class="form-control" id="user_password_2" name="password_2"
                                           placeholder="Inserisci nuovamente la password" required>
                                </div>
                                <div class="form-group">
                                    <label for="user_birth_date">Data di nascita</label>
                                    <br>
                                    <input type="date" class="form-control" id="user_birth_date" name="birth_date"
                                           placeholder="Inserisci la tua data di nascita">
                                </div>
                                <input type="hidden" name="id_role" value="1">
                                <br>
                                <div class="d-flex justify-content-center mb-3">
                                    <input type="submit" class="btn btn-primary btn-form" value="Registrati">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <p>
                                        <small> Hai già un account? <a href="/login">Login</a></small>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
