{% extends "base.html" %}

{% block title %}
    <title>View your project</title>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

    <div class="col-10 offset-1">
        <h1>{{ project.name }}</h1>
        {% if project.description %}
            <p class="text-justify">
                {{ project.get_description|safe }}
            </p>
        {% endif %}
        {% for history in project.histories %}
            <div class="row">
                {% if history.note %}
                    {{ history.note }}
                {% else %}
                    <p>The reviewer left no notes for this state.</p>
                {% endif %}
                <ul>
                    {% for file in history.files %}
                        <li>
                            <a href="{{ url_for('download', file_id = file.id) }}">{{ file.path.split("/") | last }}</a>
                        </li>
                    {% endfor %}
                    {% else %}
                    <p> There are no files on this state </p>
                </ul>
            </div>
        {% endfor %}
    </div>
    {% include "chat.html" %}

{% endblock %}
