{% extends "base.html" %}


{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <script>
          let temp = Toastify({
            text: "{{ message }}",
            duration: 3000
          });
          temp.showToast();
      </script>
      {% endfor %}
    {% endif %}
  {% set messages = None %} <!-- Evita di ristampare lo stesso problema se ricarico la pagina.-->
  {% endwith %}
<div class="form">
    <form id="user-login-form" action="/login" method="POST">
        <div class="form-group">
            <label for="user_email">Email</label>
            <input type="email" class="form-control" name="email" id="user_email"
                   placeholder="Inserisci la tua email">
        </div>
        <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" id="user_password" name="password" placeholder="Inserisci la tua password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}
