{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <script>
          Toastify({
            text: "{{ message }}",
            duration: 3000,
            close: true,
            className: "info",
            backgroundColor: "rgb(220, 20, 60)"
          }).showToast();
      </script>
      {% endfor %}
    {% endif %}
  {% set messages = None %} <!-- Evita di ristampare lo stesso problema se ricarico la pagina. TODO: scoprire se serve o no-->
  {% endwith %}
<div class="container justify-content-center" >
    <div class="row justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 justify-content-center"  >
                <div class="card card-signin my-5" >
                <div class="card-body">
                    <div class = "card-title">
                            Register
                    </div>
                    <div class="form" >
                        <form id="user-login-form" action="/register" method="POST">
                            <div class="form-group">
                                <label for="user_name">Name</label>
                                <input type="text" class="form-control" name="name" id="user_name"
                                       placeholder="Mario" required>
                            </div>
                            <div class="form-group">
                                <label for="user_surname">Cognome</label>
                                <input type="text" class="form-control" name="surname" id="user_surname"
                                       placeholder="Rossi" required>
                            </div>
                            <div class="form-group">
                                <label for="user_email">Email</label>
                                <input type="email" class="form-control" name="email" id="user_email"
                                       placeholder="mario.rossi@example.com" required>
                            </div>
                            <!-- TODO: fare la conferma della password con il controllo in jquery (???) -->
                            <div class="form-group">
                                <label for="user_password">Password</label>
                                <br>
                                <input type="password" class="form-control" id="user_password" name="password"
                                       placeholder="Inserisci la tua password" required>
                            </div>
                            <div class="form-group">
                              <label for="user_birth_date">Data di nascita</label>
                              <br>
                              <input type="date" class = "form-control" id="user_birth_date" name="birth_date"
                                     placeholder="Inserisci la tua data di nascita">
                            </div>
                            <input type="hidden" name="id_role" value="1">
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>

{% endblock %}
