#chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked ~ .chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked ~ .chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #AD1637;
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: fixed;
    right: 20px;
    bottom: 135px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

/* Extra small devices (phones, 0px - 599px) */
@media only screen and (max-width: 600px) { .wrapper{ width: 75% }}

/* Small devices (portrait tablets and large phones, 600px - 767px) */
@media only screen and (min-width: 600px) { .wrapper{ width: 65% } }

/* Medium devices (landscape tablets, 768px - 991px) */
@media only screen and (min-width: 768px) { .wrapper{ width: 45% } }

/* Large devices (laptops/desktops, 992px - 1200px) */
@media only screen and (min-width: 992px) { .wrapper{ width: 33% } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { .wrapper{ width: 33% } }


#check:checked ~ .wrapper {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: #AD1637;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.messages {
    overflow-y: scroll !important;
    height: 10px !important;
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

#messages {
    height: 150pt;
    overflow-y: scroll;
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

#check {
    display: none !important
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 20px;
    background-color: #AD1637;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.ombra {
    box-shadow: 2px 2px 3px #999;
}
