.card-title {
    min-width: 33%;
    text-align: center;
}


.color-text {
    color: #AD1637 !important;
}

.navbar {
    padding-left: 3%;
    padding-right: 3%;
}

.text-github {
    color: lightslategrey;
    transition:0.5s;
}

.bi {
  vertical-align: .125em;
  width: 1em;
  height: 1em;
}

.text-github:hover {
    color: #24292e;
}

.nav-white {
    color: white;
}

.nav-white:hover {
    color: #c2bfbf;
!important;
}

.btn-form {
    background-color: #AD1637 !important;
    border-color: #86112a;
}


.btn-form:hover {
    background-color: #86112a !important;

    border-color: #86112a;
}

.font-responsive{
    font-size: calc(8px + 0.390625vw);
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* ============ desktop view .end// ============ */

.navbar-brand {
    margin: 0;
    padding: 5px;
    padding-right: 50px;
}

.navbar-brand img {
    width: 200px;
}

.bg-dark-red {
    background-color: #85102b;
}

.bg-red {
    background-color: #AD1637;
}

.bg-red-offcanvas {
    --bs-bg-opacity: 1;
    background-color: #d51c41;
!important;
}

.bg-light-red {
    --bs-bg-opacity: 1;
    background-color: #d51c41;
}

.bg-light-red:hover {
    background-color: #AD1637;
}

.text-bg-dark {

}


body {
    background-color: #f6f7fb;
    color: #888da8;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 120px;
}

a,
p,
span,
div,
li,
td {
    font-weight: 300 !important;
}

::placeholder {
    color: #ccc !important;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc !important;
    font-weight: 300;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc !important;
    font-weight: 300;
}

input {
    border-color: #d8e0e5;
    border-radius: 2px !important;
    box-shadow: none !important;
    font-weight: 300 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f6f7fb;
}

button.btn {
    border-radius: 2px !important;
    box-shadow: none !important;
}

#left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    background-color: #313644;
    overflow-y: auto;
    height: 100vh;
    border-right: 1px solid #e6ecf5;
    margin-top: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 2;
}

#left-menu.small-left-menu,
#logo.small-left-menu {
    width: 60px;
}

#left-menu ul {
    padding: 0;
    margin: 0;
}

#left-menu ul li {
    padding: 0 10px;
    display: block;
    position: relative;
}

#left-menu > ul > li {
    margin: 15px 0;
}

#left-menu ul li a {
    color: #99abb4;
    width: 100%;
    display: inline-block;
    width: 260px;
    height: 37px;
    position: relative;
}


#left-menu ul li a i {
    font-size: 22px;
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu ul li:hover a span {
    color: #0e9aee;
}

#left-menu ul li:hover a i {
    color: #0e9aee;
}

#left-menu ul li a span {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    color: #99abb4;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu ul li.active a {
    border-bottom: 2px solid #0e9aee;
}

#left-menu ul li.active a span {
    color: #fff;
}

#left-menu ul li.active a i {
    background-color: #0e9aee;
    color: #fff;
}


#left-menu li.has-sub ul {
    background-color: #454e62;
    margin: 0 -10px;
    padding-left: 45px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu li ul.open {
    /*    height: 140px;*/
}

#left-menu li.has-sub ul > li {
    padding-top: 10px;
}

a:hover {
    text-decoration: none;
}

#logo {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    background-color: #464e62;
    border-color: #464e62;
    height: 60px;
    width: 280px;
    font-size: 30px;
    line-height: 2em;
    border-right: 1px solid #e6ecf5;
    z-index: 4;
    color: #fff;
    padding-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}


#header {
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #e6ecf5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#header .header-left {
    padding-left: 300px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#header .header-right {
    padding-right: 40px;
}

#header .header-right i,
#header .header-left i {
    font-size: 30px;
    line-height: 2em;
    padding: 0 5px;
    cursor: pointer;
}

#footer {
    background-color: #f6f7fb !important;
}

#content {
    padding-bottom: 120pt;
}

#myItems {
    font-size: 12pt;
}

#page-container {
    padding-left: 300px;
    padding-top: 80px;
    padding-right: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#page-container.small-left-menu,
#header .header-left.small-left-menu {
    padding-left: 80px;
}

.card {
    border: 1px solid #e6ecf5;
    margin-bottom: 1em;
    font-weight: 300;
}

.card .title {
    padding: 15px 20px;
    border-bottom: 1px solid #e6ecf5;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
}

#show-lable {
    opacity: 0;
    visibility: hidden;
    left: 80px;
    font-weight: 300;
    padding: 6px 15px;
    background-color: #0e9aee;
    position: fixed;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#left-menu.small-left-menu li.has-sub::after {
    content: '';
}

#left-menu.small-left-menu li.has-sub ul {
    position: fixed;
    width: 280px;
    z-index: 123;
    height: 0;
    left: 69px;
    padding-left: 15px;
}

form i {
    cursor: pointer;
}


@media only screen and (max-width: 992px) {
    #left-menu,
    #logo {
        width: 60px;
    }

    #page-container,
    #header .header-left {
        padding-left: 80px;
    }

    #toggle-left-menu, .big-logo {
        display: none;
    }


}

@media only screen and (min-width: 992px) {
    #left-menu li.has-sub::after {
        font-family: "Ionicons";
        content: "\f3d3";
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transform: rotate(0deg);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #left-menu li.has-sub.rotate:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .small-logo {
        display: none;
    }

}

#projectContainer{
    background-color: white;
    padding: 100px;

}

.stateContainer{
    transition: 1s;
}

.stateContainer:hover{
    transform: scale(1.02);
    border: 1px solid #0f0f0f;
}

.collapsible{
    transition: 1s;
}

.hovered{
    transform: scale(1.02);
    border: 1px solid #0f0f0f;
}

.scrollable{
    overflow-y:scroll;
    max-height:200px;
    background-color: whitesmoke;
    padding: 10px;
}

.text-downloadable{
    color:#AD1637;
    text-decoration: none;
    transition: 0.25s;
}

.text-downloadable:hover{
    color:#86112a;
    text-decoration: underline #86112a;
}

.h-100{
    height: 65vh !important;
    transition: 0.25s;
}

.h-100:hover{
    transform: scale(1.02);
}


.bi-plus-circle{
    font-size: 150px;
    color:lightslategrey;
}

.card-img-top{
    height: 28vh;
    object-fit: cover;
}